#container {
    margin: 100px auto;
    width: 30%;
    padding: 40px;
    border: 4px solid black;
    text-align: auto;
    background-image: linear-gradient(crimson, yellow);
}

#walrus {
    width: 300px;
    height: 100px;
    align-items: auto;
    
}

#entire-page {
    background-color: black;
}

h2 {
    color: blue;
}